[2017-05-17 21:12] singhpratyush opened #2 "Create app for announcements"
This app would be used to manage announcements on the website.

### Features
* Ability to add display start time.
* Ability to add display end time.
* Content with HTML support.
* Views
  * Paginated list at `/announcement/`
  * Single announcement at `/announcement/<id>/`

Also, show all active announcements on the index page.

[2017-05-17 21:14] singhpratyush opened #3 "Create app for news"
Depends on #2.
This app would be used to manage news on the website.

### Features
* Extends announcements
* Ability to add display start time.
* Content with HTML support.
* News body with HTML support.
* Views
  * Paginated list at `/news/`
  * Single view at `/news/<id>/`

Also, show latest 3 (should be configurable) news at index.

[2017-05-17 21:17] singhpratyush opened #4 "Create carousel upload portal"
Add it in the basic app and link to the admin panel. The user should be able to upload a list of images and also select the ones that will be actively shown at index.

Also add field for short description which may be utilised later.

[2017-05-17 21:26] singhpratyush opened #5 "Create app for events"
### Features
* Name
* Start and End time
* Description
* Place
* Views
  * Paginated list at `/event/`
  * Single view at `/event/<id>`

Display latest 3 (should be configurable) events on the index page.

[2017-05-17 21:28] singhpratyush opened #6 "Add original theme to current website"
Depends on #2 #3 #4 #5.
Add the original theme to current website, integrating data from all the apps.

There should be a global header/footer, which can be edited from a single file.

[2017-05-18 19:30] Prakash2403 opened #9 "Configure settings.py for using HTTPS."

[2017-05-18 22:15] Prakash2403 opened #11 "Showing localhost as Disallowed host"
**Problem Statement**

If we are testing application on localhost, and we do a get (or post) request, then Error 400 is returned.

**Solution**

Add localhost and 127.0.0.1 in ALLOWED_HOST list in settings.py

[2017-05-19 02:56] singhpratyush commented on #11
This should not happen as on `localhost`, debug mode is on. Are you setting Openshift related env vars?

[2017-05-19 04:47] yashLadha commented on #11
We can pass a generic arg like `'*'`. It resolves this issue.

[2017-05-19 06:18] Prakash2403 commented on #11
@yashLadha Yeah, we could do it for now, but at the end when website will be live, we will have to change it again.

@singhpratyush I thought they were set automatically. Setting OPENSHIFT_APP_DNS resolves the problem. I think it will be nice to add a section about environment variables in README. Nevertheless, most of us will be testing on our local machine, so I think that mentioning loopback ad

[2017-05-19 07:31] singhpratyush commented on #11
@Prakash2403: The app check if the env var `OPENSHIFT_PYTHON_IP` and if it exists, it sets the `ON_OPENSHIFT` variable to True (See [this](https://github.com/iiitv/Odyssy/blob/master/wsgi/odyssy/odyssy/settings.py#L24)). The DEBUG variable is set as `!ON_OPENSHIFT` (See [this](https://github.com/iiitv/Odyssy/blob/master/wsgi/odyssy/odyssy/settings.py#L36)), so DEBUG mode is on when not on Openshif

[2017-05-19 07:38] singhpratyush commented on #11
@iiitv/odyssy-website: Is anyone else facing this issue?

[2017-05-19 08:12] Prakash2403 commented on #11
@singhpratyush I just printed value of DEBUG variable, it is showing True. Yet, if I remove the line to include `127.0.0.1` from ALLOWED_HOSTS, I get `DisallowedHost` exception.

[2017-05-19 09:19] #9 closed

[2017-05-20 03:24] singhpratyush opened #13 "Improve carousal at index page"

[2017-05-20 03:26] singhpratyush opened #14 "Improve photo gallery"

[2017-05-20 08:16] #11 closed

[2017-05-20 14:37] yashLadha commented on #2
Do i make separate fields for title and description of announcement

[2017-05-20 14:38] singhpratyush commented on #2
Yes.

[2017-05-20 14:42] yashLadha commented on #2
What is the idea of start time and end time? Is it the period of announcement or something?

[2017-05-20 14:42] singhpratyush commented on #2
Yes, it is the period for which announcement stays on the website.

[2017-05-20 14:50] singhpratyush opened #15 "Create app for tags"
The app would be used to create tags for pictures and news.

### Features
* Verification for validity - should be `^[a-zA-Z0-9][a-zA-Z0-9\-]{3,}$`
* Views
  * `/tag/<tag>/`
  * `/tag/<tag>/pictures`
  * `/tag/<tag>/news`
  * `/tag/<tag>/announcement`

[2017-05-20 15:47] yashLadha commented on #2
Write to create post is on the site or i admin console.

[2017-05-20 19:48] Prakash2403 commented on #5
I would like to work on it.

[2017-05-21 06:03] Monal5031 commented on #2
I think it should be in admin console.

[2017-05-21 06:09] Monal5031 commented on #3
I would like to work on this one.

[2017-05-21 06:16] yashLadha commented on #2
If it is in admin console. Them it won't give privacy to individual participants in it. As one party announcement should not be seen by other party announcement

[2017-05-21 06:23] Monal5031 commented on #3
Please assign me to this.

[2017-05-21 06:26] Monal5031 commented on #2
What I'm thinking is if we add it in admin console then everyone who has to make an announcement will just to have to contact the admin or superusers.

[2017-05-21 06:32] yashLadha commented on #2
But we are also giving individual access to participants or not?

[2017-05-21 09:51] singhpratyush commented on #2
I am a bit confused here. Who is a **participant**?

[2017-05-21 09:53] yashLadha commented on #2
Faculty or administrative body

[2017-05-21 09:55] singhpratyush commented on #2
The announcements will be created from the admin panel. We can later configure the who-can-edit-what part or add a different interface if needed.

[2017-05-21 09:59] yashLadha commented on #2
Ok sir.

[2017-05-23 00:16] Prakash2403 commented on #5
@singhpratyush Shouldn't there be a field for event name?

[2017-05-23 03:42] singhpratyush commented on #5
Yes there should be. I totally missed it. My bad :sweat_smile:.

[2017-05-23 17:57] #5 closed

[2017-05-23 17:59] Prakash2403 commented on #4
I would like to work on this issue.

[2017-05-23 18:01] singhpratyush opened #19 "Warning while migrating Event app"
Event app gives `RuntimeWarning` while migrating database -
[code]

[2017-05-23 18:05] singhpratyush opened #20 "Description in event app doesn't supports HTML"
Example description -
[code]

[2017-05-23 18:07] singhpratyush opened #21 "Place should be optional for event app"
The place field in event app should be optional, i.e. nullable.

[2017-05-23 18:08] Prakash2403 commented on #20
@singhpratyush This feature wasn't mentioned as requirement in #5 .

[2017-05-23 18:11] singhpratyush commented on #20
Yes, I missed it there. But it would be easier to tackle smaller issues like this one now.

Hope you aren't mad about it :sweat_smile:.

[2017-05-23 18:14] singhpratyush opened #22 "Set up Travis CI"
This would help us in maintaining code quality and ensuring stability.

[2017-05-23 18:17] Prakash2403 commented on #20
Why to be mad, Sir :smile: ? I will fix it ASAP.

[2017-05-23 18:23] singhpratyush commented on #20
Great! Assigned.

[2017-05-23 19:15] Monal5031 commented on #19
I tried migrating it on my pc, it worked :confused:

[2017-05-23 19:44] Prakash2403 commented on #19
@singhpratyush Sir, I tried some ways to solve this problem, but none of them worked. However, as long as our timezone is set as `Asia/Kolkata`, no problems will be there.

[2017-05-24 02:44] singhpratyush commented on #19
The problem is [here](https://github.com/iiitv/Odyssy/blob/master/wsgi/odyssy/events/models.py#L12).

Try changing it to
[code]

[2017-05-24 15:28] #20 closed

[2017-05-24 15:29] singhpratyush commented on #21
Fixed in 09f7847416231c7b71df04229867daf5bf390968.

[2017-05-24 15:29] #21 closed

[2017-05-24 15:35] singhpratyush opened #24 "Description of event app says "at" even when no location is given"

[2017-05-24 15:36] Prakash2403 commented on #19
I have done that. But, still it is not timezone aware. Runtime Warning still says that database received a naive datetime object. I have read the documentation, but no help. There is a method `timezone.make_aware()` which is used to convert naive datetime object to aware datetime object explicitly, but it produces a runtime exception that `tz_info not found in datetime object`. I am unable to reso

[2017-05-24 15:42] Prakash2403 commented on #24
Can you mention the URL @singhpratyush Sir?

[2017-05-24 15:42] singhpratyush commented on #24
https://odyssy.singhpratyush.in/

[2017-05-24 15:46] Prakash2403 commented on #24
It is not showing on my machine. I can post screenshot if you want

[2017-05-25 20:24] Prakash2403 commented on #24
@singhpratyush Issue fixed sir, please review.

[2017-05-26 03:56] #24 closed

[2017-05-26 17:16] #2 closed

[2017-05-26 17:35] singhpratyush opened #26 "Announcements appear at index even after they have expired"
e.g. - `Test announcement 1` at https://odyssy.singhpratyush.in/

[2017-05-26 17:42] singhpratyush opened #27 "Make default time for announcement as current day"
As of now, the default date and time for start of announcement is `now` and default end time is undefined. Make the default time as start of this date (`dd-mm-yyyy 00:00:00+XYZ`) and end as `dd-mm-yyyy 23:59:59+XYZ`.

[2017-05-26 19:17] Monal5031 commented on #26
@singhpratyush `Test announcement 1` is not there, instead it is showing `No latest announcement.`

[2017-05-26 19:47] singhpratyush commented on #26
:+1: It was earlier there after end time (or maybe not). @Monal5031 can you please verify it locally.

[2017-05-26 20:00] #3 closed

[2017-05-26 20:26] yashLadha commented on #27
Sir it is already implemented as `default=datetime.datetime.now` runs every time somentry is saved. And not that it takes the default as the value when it migrated.

[2017-05-26 20:26] Monal5031 opened #28 "Bold tag has no effect on website"
The bold tag `<b>news</b>`at https://odyssy.singhpratyush.in/news/1/  is not showing any effect.
Edit: It is because `&lt;b&gt;news&lt;/b&gt;` is used in place of `<b>news</b>`

[2017-05-26 20:45] Monal5031 commented on #26
@singhpratyush Tested it locally, the announcement still appears even after its end time.

[2017-05-26 20:57] yashLadha commented on #26
@Monal5031  Have u check on index page or on the announcement page

[2017-05-26 20:58] Monal5031 commented on #26
@yashLadha Index page in basic app

[2017-05-26 20:59] yashLadha commented on #26
But on my machine is not showing.

[2017-05-26 21:00] yashLadha commented on #26
I tested it again. If the time and date (finDate) is less than current time and date it is showing no announcement.

[2017-05-26 21:03] yashLadha commented on #26
Ohh i was only comparing date sending the fix for this.

[2017-05-26 21:09] Monal5031 commented on #26
@yashLadha News and Events app also have this bug.

[2017-05-26 21:10] singhpratyush commented on #26
Events are okay. Please create an issue for news.

[2017-05-26 21:12] Monal5031 commented on #26
@singhpratyush Can you please retest the events app? Because in my system it still appears after expiry.

[2017-05-26 21:14] Monal5031 opened #30 "News appear at index even after they expire"

[2017-05-26 21:15] yashLadha commented on #27
Oh I got it sir. Sending Patch for this

[2017-05-26 21:16] #26 closed

[2017-05-26 21:51] yashLadha commented on #27
Sir date for end time is current date or something else

[2017-05-27 00:18] Prakash2403 commented on #28
HTML support is not added in single_news.html . To add it, just replace `info.description` with `info.description | safe`

[2017-05-27 01:45] mohitkyadav opened #33 "Photos in events and news."
Till now announcements and news app have been added, but none of them has an image field. Are we planning to add photos later?

[2017-05-27 01:48] mohitkyadav opened #34 "What about past events?"
Events app displays the information about the upcoming events, shouldn't it be modified to also display information of past events with related news and photos.

Please take a look:  https://www.iiitb.ac.in/

[2017-05-27 01:52] Prakash2403 commented on #33
We have a separate section for images. Announcements, events and news  have HTML support enabled, so I guess link to image section will be provided.

[2017-05-27 01:55] Prakash2403 commented on #34
Event app displays about every event.

HTML support is there in event description. We can easily`create a reference to related news and photos.

[2017-05-27 02:50] #34 closed

[2017-05-27 02:50] #33 closed

[2017-05-27 04:39] singhpratyush commented on #27
The end is the current date. I said it's undefined by default, just need to set a default value.

[2017-05-27 04:41] #30 closed

[2017-05-27 04:55] singhpratyush commented on #4
@Prakash2403: Assigned. You may add an app and set all required features in it. Also, you can set a `BooleanField` to keep track of active carousel images.

[2017-05-27 06:24] #27 closed

[2017-05-27 06:54] Prakash2403 commented on #4
@singhpratyush Sir, where to store uploaded image?

[2017-05-27 06:54] yashLadha opened #35 "Can't import basic.utils.get_active_filter()"
Sir the models structure has incocnsistency as filter considers param initDate and finDate while news model has param name StartDate and endDate. And it wasn't able to import basic.utils.get_active_filter().

[2017-05-27 06:55] yashLadha commented on #35
Sending a patch for this.

[2017-05-27 07:24] singhpratyush commented on #35
Make the database model changes for this.

[2017-05-27 08:57] singhpratyush commented on #4
https://github.com/jdriscoll/django-photologue

[2017-05-27 10:53] #35 closed

[2017-05-27 11:17] Monal5031 commented on #6
Does this has to be done in basic app?

[2017-05-27 15:24] Prakash2403 opened #37 "datetime.max in basic.utils causes date overflow"
Traceback

[code]

[2017-05-27 15:49] yashLadha commented on #37
It worked perfectly fine on my local machine. Which python version u r
using??

On 27 May 2017 8:54 pm, "Prakash Rai" <notifications@github.com> wrote:

[2017-05-27 15:51] Prakash2403 commented on #37
Python 2.7 and pgsql 9.4.12

[2017-05-27 15:55] yashLadha commented on #37
Try to update postgresql version

On 27 May 2017 9:22 pm, "Prakash Rai" <notifications@github.com> wrote:

[2017-05-27 16:03] Prakash2403 commented on #37
Any other suggestions.

[2017-05-27 16:17] yashLadha commented on #37
Mine postgresql version 9.5 and this error is not showing on my machine.

On 27 May 2017 9:33 pm, "Prakash Rai" <notifications@github.com> wrote:

[2017-05-27 17:02] Prakash2403 commented on #37
In that case, update `README.md,` because minimum requirement mentioned there is `postgresql 9.2`. By the way, `end_date` should be current date, as mentioned in #27 . So, instead of using `combine(dateime.max, time.max)`, you could use `combine(dateime.today(), time.max)`.

Is anyone else facing this issue?

[2017-05-27 18:14] #37 closed

[2017-05-28 12:47] Monal5031 commented on #22
I can work on this but I'm confused on what to add in `before_script:`  and `script:`

[2017-05-28 12:57] Monal5031 commented on #28
Assign me this one.

[2017-05-28 13:25] #28 closed

[2017-05-28 13:31] singhpratyush commented on #22
In `before_script` section, you may create database and users and in the `script` section, you may run the tests (but there are not any yet), etc.

Use `env` section to set up environment variables.

[2017-05-28 17:12] Monal5031 commented on #22
Ok I'll like to give it a try. 😅

[2017-05-29 07:10] yashLadha commented on #15
The manytomany field should also be included in annpuncement, news and events too. As each such thing can have tags associated to them. So should i make model changes there too.

[2017-05-29 07:18] singhpratyush commented on #15
Yes, you will require modifying those models too.

[2017-05-29 10:36] yashLadha commented on #15
@singhpratyush  can u explain more about this regex `[a-zA-Z0-9][a-zA-Z0-9\-]{3,}`

[2017-05-29 11:03] Monal5031 commented on #6
@singhpratyush Please clarify my doubt.

[2017-05-29 11:06] singhpratyush commented on #6
Yes, add this as a view in `basic`.

[2017-05-29 11:08] singhpratyush commented on #15
[code]

[2017-05-29 11:09] yashLadha commented on #15
Is it at least 3

[2017-05-29 11:13] singhpratyush commented on #15
Yes.

[2017-05-29 11:15] #22 closed

[2017-05-29 11:16] yashLadha commented on #15
Why to have an extra regex `[a-zA-Z0-9]`?

[2017-05-29 11:18] singhpratyush commented on #15
Because tag shouldn't start with `-`.

[2017-05-29 11:19] yashLadha commented on #15
Sir {3,} is showing error . Saying `is not a valid regular expression: multiple repeat`

[2017-05-29 11:22] singhpratyush commented on #15
Check this - https://regex101.com/r/f7VnMS/1

[2017-05-29 14:50] #4 closed

[2017-05-29 17:32] yashLadha commented on #15
What should be done with the link `\<tag>\` ?

[2017-05-29 18:29] singhpratyush commented on #15
Maybe show most used tags?

[2017-05-29 22:04] Monal5031 commented on #6
Please assign me this one.
Also, should I start with this one now or after #13 is merged?

[2017-05-30 04:18] yashLadha commented on #15
here we passed a  designated tag-name. So how will it be relevant to show most used tags.

[2017-05-30 04:27] singhpratyush commented on #15
Oh! You were talking about `/tag/<tag>/` (I thought it is `/tag/` because of the way you mentioned it there).

In that section, show the latest n news, announcement and pictures related to that tag.

[2017-06-01 15:10] #15 closed

[2017-06-02 22:02] Prakash2403 opened #46 "NoReverseMatch error at /events/"
There was a mistake while passing parameters to `paginate_view` method in `events/views.py,` which was causing `NoReverseMatch` error at `/events/`

[2017-06-04 03:37] #46 closed

[2017-06-04 15:03] Monal5031 opened #49 "Update gitignore for photologue cache"
The photologue api keeps adding cache to `wsgi/media/photologue/photos/`.
There needs to be an update in gitignore I think for this.

[2017-06-06 06:13] yashLadha opened #50 "REST Api for announcement app"
REST api creation for announcement app.

[2017-06-06 07:42] #6 closed

[2017-06-07 03:25] #19 closed

[2017-06-07 03:27] singhpratyush opened #51 "Scroll speed too slow for carousel"
The carousel is self-scrolling very slowly.

[2017-06-07 03:27] singhpratyush opened #52 "Carousel can't be controlled using arrow keys"

[2017-06-07 03:28] singhpratyush opened #53 "Description not shown for news, event and announcement at index"

[2017-06-07 03:29] singhpratyush opened #54 "Contact links in header not working"

[2017-06-07 03:30] singhpratyush opened #55 "Irrelevant social media links at footer"
It says Twitter, FB and LinkedIn while we do not have them.

[2017-06-07 03:30] singhpratyush opened #56 "Improve footer"
Come up with different implementations and post screenshot here before opening PR.

[2017-06-07 03:32] singhpratyush opened #57 "Invalid important announcement at index"
It says

while there is no such object in any of the apps.

[2017-06-07 11:57] Monal5031 commented on #57
Please assign me this one.

[2017-06-07 13:13] Monal5031 commented on #55
@singhpratyush There is a fb page I think but its not official I guess.

[2017-06-07 13:27] singhpratyush commented on #55
This github org is also not official.

[2017-06-07 14:26] mohitkyadav commented on #54
Please assign me to this issue.

[2017-06-07 16:42] geekyJock8 commented on #56
I have a suggestion, we should make a page for contact us if possible. The home page is cluttered with contact information. This includes the Map, Phone, Email at the top; and address, links to social media at the bottom. This information is important but it's not that frequently used. The only thing I would argue is that maybe phone no. is required and rather than having an icon, the phone no. sh

[2017-06-07 16:56] singhpratyush commented on #56
@geekyJock8: Regarding the footer, would you like to submit a patch? If no, please give your suggestions at https://gitter.im/iiitv/Odyssy so that someone else can follow up.

And for the contact us page, please open an issue.

[2017-06-07 17:05] aashutoshrathi commented on #55
So are we going to remove them all ?

[2017-06-07 17:10] Monal5031 commented on #55
No only the twitter fb and linkedin I guess

[2017-06-07 17:58] aashutoshrathi commented on #52
The arrow keys are working only if the slider is focused. i.e. Arrow key are working after you interact with carousel

[2017-06-08 02:44] #54 closed

[2017-06-08 02:50] singhpratyush commented on #52
Should that be happening? I think that desired effect should be being able to scroll the carousel soon as we open the website.

[2017-06-08 02:58] mohitkyadav commented on #53
Please assign me to this issue

[2017-06-08 08:36] aashutoshrathi commented on #52
No, that doesn't happen by default as the focus is not on carousel, but we can force that by capturing the keydown event on the input control and giving conditions on keystrokes of left arrow(key 37) and right arrow (key 39)

[2017-06-08 10:50] Monal5031 commented on #49
Please assign me this one.

[2017-06-08 11:43] aashutoshrathi commented on #49
Assign me

[2017-06-08 17:33] geekyJock8 opened #62 "Add "Contact Us" Page"
This page will contain all the contact details of college(i.e. Address, Phone No., Map, Email Id).

[2017-06-08 17:35] geekyJock8 commented on #56
I would like to submit a patch but as of now, I'm having problems with setting up the system. If I'm unable to set up the system soon, I'll post the design suggestion with full details on gitter.

[2017-06-09 03:05] #57 closed

[2017-06-09 09:40] #53 closed

[2017-06-09 15:30] geekyJock8 opened #64 "Error setting up the system"
## ModuleNotFoundError: No module named 'views'

Every instruction is successfully executed till "_$ python manage.py migrate_". When I run this command I get following list of errors:
[code]

[2017-06-09 15:41] mohitkyadav commented on #64
@geekyJock8 it seems you are trying to run `odyssy` with Python 3.5 or +.
Here's a fix, change line 11 to `from . import views`.

[2017-06-09 16:00] singhpratyush commented on #64
@mohitkyadav: Recommending change of source locally is not a good practice.
@geekyJock8: Please run it with `python2.7`. It is generally called `python2` or `python2.7` depending on the OS. If you are still having trouble, please let us know about your OS.

[2017-06-09 16:14] mohitkyadav commented on #64
@singhpratyush sir, got that, but when I run the project with Python2.7 interpreter it still shows error I am using PyCharm on windows and .

[2017-06-09 17:49] geekyJock8 commented on #64
@singhpratyush  When I use python2 or python2.7, I get
`Traceback (most recent call last):
  File "manage.py", line 9, in <module>
    from django.core.management import execute_from_command_line
ImportError: No module named django.core.management
`

I'm using **_Manjaro Linux_**. It's an Arch Linux based OS.

[2017-06-09 18:17] yashLadha commented on #64
Try to upgarde the django-version, or execute `pip install -r requirements.txt` for installing necessary dependencies.

[2017-06-09 18:57] geekyJock8 commented on #64
@yashLadha As I mentioned earlier I've executed all the previous commands and all of them executed successfully. Here are further details:
[code]

[2017-06-10 01:15] mohitkyadav commented on #64
@geeckyJock I think you are installing django in `python 3.6` ` /usr/lib/python3.6/site-packages`.
Please run all commands with `python2.7`. `Requirement already satisfied: django==1.10 in /usr/lib/python3.6/site-packages (from -r requirements.txt (line 1))` notice python version in this line, it's 3.6 not 2.7.

[2017-06-10 02:00] mohitkyadav opened #65 "Improve homepage"
- increase `widgets-container` width to 80%
- Improve font-spacing
- Add respactive links to `widget-title` i.e. `/events/` for events widget-title.

[2017-06-10 02:02] mohitkyadav commented on #65
@singhpratyush please let me know if I can proceed with this issue.

[2017-06-10 02:25] #49 closed

[2017-06-10 02:40] singhpratyush commented on #64
@geekyJock8: Similar to `python2` and `python2.7`, you would also be having `pip2` or `pip2.7`. Use that to install the packages -
[code]

[2017-06-10 04:38] mohitkyadav opened #66 "NoReverseMatch at /adminphotologue/photo/"
Facing `u'photologue' is not a registered namespace` error while accessing https://odyssy.singhpratyush.in/adminphotologue/photo/ .
 Photos can be added by `add` button but unable to access all photos page in `adminphotologue` section.

[2017-06-10 06:59] Anshuman-Verma commented on #14
What are the possible enhancements ?

[2017-06-10 07:02] Prakash2403 commented on #66
@mohitkyadav Thanks for pointing out the bug. It was working few days ago, but I think someone messed up with `urls.py` file. Just add `url(r'^photologue/', include('photologue.urls', namespace='photologue'))` in `odyssy/urls.py` and it will work. I will send a patch ASAP.

[2017-06-10 07:03] Anshuman-Verma commented on #52
Probably we can have carousel focused by  default on page load ?

[2017-06-10 07:04] Anshuman-Verma commented on #55
Any assignees ?

[2017-06-10 16:23] geekyJock8 commented on #64
@singhpratyush It says
` sudo: pip2: command not found`
and
`sudo: pip2.7: command not found`

[2017-06-10 16:28] singhpratyush commented on #64
Then you'll need to install `python2` compatible `pip` from your package manager (`python2-pip` I guess).

[2017-06-10 18:34] geekyJock8 commented on #64
@singhpratyush Thanks, Installing python2-pip did the trick for me.

[2017-06-10 18:34] #64 closed

[2017-06-11 11:52] ansarimofid opened #68 "Make footer Sticky"
The footer is not sticky and a lot of space is left at the bottom when the content is less. Try to make footer sticky to get rid of this problem.
Helpful Link:  [https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/](https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/).

Mobile Screenshot of the site
![odyssy singhpratyush in- galaxy s5](https://user-images.github

[2017-06-11 14:05] singhpratyush opened #69 "Ugly carousel images while loading index"
![screenshot from 2017-06-11 19 33 33](https://user-images.githubusercontent.com/10860278/27011622-1dad3d60-4edd-11e7-8ff8-7f999abff7f2.png)

[2017-06-11 16:57] geekyJock8 opened #70 "Add "python manage.py makemigrations" to readme.md in "Migrate Database and Run" Section"

[2017-06-11 17:04] singhpratyush commented on #70
@geekyJock8: Would you like to work on it?

[2017-06-12 17:34] Monal5031 commented on #70
@singhpratyush can I send a PR for this?

[2017-06-12 17:37] Monal5031 commented on #55
@singhpratyush Please assign me this one.

[2017-06-12 19:11] #70 closed

[2017-06-12 19:23] aashutoshrathi opened #72 "Updating .gitignore for migrations and .idea"
- [x] Assign this to me.

[2017-06-12 19:37] #72 closed

[2017-06-12 20:38] Monal5031 commented on #51
@singhpratyush sir please check the website again for carousel scroll speed, it is normal I think.
Also there seems to be some changes I think (hover over events).

[2017-06-13 03:35] singhpratyush commented on #51
That event thing is being corrected in another PR.

[2017-06-13 03:35] #51 closed

[2017-06-13 15:06] Monal5031 commented on #55
@singhpratyush Please assign me this one.

[2017-06-19 16:40] #66 closed

[2017-06-19 16:41] #65 closed

[2017-06-25 04:34] #55 closed

[2017-06-25 13:46] Monal5031 opened #77 "Create app for Institute"
This app would be used to display items under nav-bar item `Institute`.

### Features:
Following views are to be added at `/institute/view-name/` :
* About
* Directors message
* Board of Governors
* Society members
* Senate
* committee (`/institute/committee/committee-name/`)
    * Finance
    * Strategic planning
    * HR planning
    * Building and works
* Research council
* RTI
* MOU
* Linkages

[2017-06-25 13:59] Monal5031 opened #78 "Create app for Academics"
This app would be used to display items under nav-bar item `Academics`

### Features:
Following views are to be added at `academics/view-name/`:
* B.tech (`academics/btech/course/`)
    * CSE
    * IT
* M.Tech (`academics/mtech/course/`)
    * CSE
    * IT
* Ph.D
* Academic Calendar

[2017-06-25 14:01] Monal5031 opened #79 "Create app for admission"
This app would be used to display items under nav-bar item `Admission`

### Features:
Following views are to be added at `admission/view-name`:
* B.Tech
* M.Tech
* Ph.D

[2017-06-25 14:08] Monal5031 opened #80 "Create app for People"
This app would be used to display items under nav-bar item `People`

### Features:
Following views are to be added at `people`
* Faculty (All faculties at `people/faculty/`)
    * Individual information at `people/faculty/faculty-name/ `
* Visiting Faculty (All visiting faculties at `people/visiting-faculty/`)
    * Individual information at `people/visiting-faculty/visiting-faculty-name/`
* Staff

[2017-06-25 14:15] Monal5031 opened #81 "Create app for More"
This app would be used to display items under nav-bar item `More`.

### Features:
Following views are to be added at /`more/`
* FAQs
* Hostel
* Students Corner
* Moodle
* Library
* Invited talks
* Placement

[2017-06-25 14:18] Monal5031 opened #82 "Create app for Careers"
View to display the careers page at `/careers/`

[2017-06-25 14:30] Monal5031 opened #83 "Create app for Gallery"
This app would be used to display items under nav-bar item `Photo Gallery`.

Display all gallery images at `/gallery/` and the slideshow after selecting any image.

[2017-06-25 15:41] mohitkyadav commented on #80
Please assign me on this issue.

[2017-06-25 15:50] Monal5031 commented on #80
Each faculty should have this fields according to me:
Name
Academic qualifications
College of qualification
Year of qualification
Area of interest
Contact email

I'm not sure how can we add other details as every faculty doesn't have all the fields.
Views? @singhpratyush @yashLadha @Prakash2403 @mohitkyadav @geekyJock8

[2017-06-25 16:04] mohitkyadav commented on #80
I think LinkedIn profile can be attached (if they have).

Only display (if any).

[2017-06-25 16:15] Monal5031 commented on #56
@geekyJock8 sir any other changes which I didn't include in my PR needed? Otherwise lets close this issue.

[2017-06-25 16:55] Prakash2403 commented on #80
We can keep the fields in our model and set `blank=True` and `null=True`.

[2017-06-25 17:29] Monal5031 commented on #80
Well I guess we can do that. Thanks @Prakash2403 sir

[2017-06-27 19:29] geekyJock8 commented on #69
I tried to correct it by initially setting the display of class carousel to none and by using Jquery's show() function. But the Jquery is not working, even after the page is completely loaded, the carousel is invisible.

[2017-06-28 14:11] Monal5031 commented on #77
Please assign me this one. @yashLadha @Prakash2403

[2017-06-28 16:29] Monal5031 commented on #69
@geekyJock8 It is because the js file is added but not linked here https://github.com/iiitv/Odyssy/blob/master/wsgi/odyssy/basic/templates/basic/base.html#L185

[2017-06-28 16:35] geekyJock8 commented on #69
But rest of the code js file is working. I can confirm this because carousel's script is being loaded from the file. And on modifying the code carousel gets modified.

[2017-06-28 16:39] Monal5031 commented on #69
I updated the link locally and its working now @geekyJock8

[2017-06-28 16:56] Monal5031 commented on #69
Also @geekyJock8 There are two js files there, only one is linked `main.js` is linked 😄

[2017-06-29 08:59] geekyJock8 commented on #69
Changing to {% static 'basic/js/jquery.paginate.min.js' %} didn't really solve the problem. But I was able to correct this by making a div inside the for loop of the carousel and using show() on that div. So this ugly carousel problem is solved but there's a new problem. The slick carousel is acting weird, it's showing empty space after the last photo in the carousel.
![image](https://user-images.

[2017-06-29 11:28] singhpratyush commented on #69
I think this can be fixed by placing the `js` for Slick at the top in HTML.

[2017-06-29 12:41] Monal5031 commented on #69
@singhpratyush Shall I try it in my PR we can see if it will work or not.

[2017-07-01 18:55] Monal5031 opened #88 "Update gitignore to allow migrations"

[2017-07-02 19:42] #88 closed

[2017-07-03 17:11] #69 closed

[2017-07-03 17:11] #77 closed

[2017-07-03 21:01] Monal5031 commented on #68
Fixed in #86

[2017-07-03 22:13] #56 closed

[2017-07-03 23:04] Monal5031 opened #92 "Update links in index.html and institute app"
Some links are not yet updated.
* index,html: The links in important section.
* institute app: The links in template `rti-section4.html` are not updated, for reference: the links are same as used in basic app's `base.html`

[2017-07-04 10:24] aashutoshrathi commented on #81
Assign this to me

[2017-07-06 15:08] #78 closed

[2017-07-06 15:22] #80 closed

[2017-07-07 15:35] mohitkyadav opened #96 "Max length in Events app for description is not enough."
The `max_length` for the `description` property of Event model is not enough to fit a whole page.
![sketch2](https://user-images.githubusercontent.com/25580776/27964941-a4823b72-6357-11e7-9605-dbb9793cd7b0.png)

[2017-07-07 15:39] mohitkyadav opened #97 "Add a meta class to each app models."
Currently because of the lack of `meta' class, the plural name for some apps is incorrect on the admin page.
![sketch](https://user-images.githubusercontent.com/25580776/27965184-830da016-6358-11e7-9d70-0b2e0ac89797.png)

[2017-07-07 15:45] mohitkyadav opened #98 "Change the type of description property of news app."
It's a `CharField` currently, it should be a `TextField`.

[2017-07-07 21:53] #82 closed

[2017-07-09 09:03] #98 closed

[2017-07-16 15:53] #97 closed

[2017-07-16 15:54] #96 closed

[2017-07-16 15:54] #92 closed

[2017-07-16 22:15] #79 closed

[2017-07-17 05:38] #83 closed

[2017-07-17 18:56] Monal5031 commented on #14
Fixed in #89

[2017-07-17 18:56] #14 closed

[2017-07-17 18:57] Monal5031 commented on #68
Fixed in #89

[2017-07-17 18:57] #68 closed

[2017-07-18 15:56] DipanshKhandelwal commented on #62
Assign it to me.

[2017-07-18 15:58] yashLadha commented on #62
@DipanshKhandelwal GFT

[2017-07-18 16:48] Monal5031 commented on #62
@yashLadha sir this isn't decided yet. I mean the details, where it will be placed etc. Should we do this then?

[2017-07-18 16:50] Monal5031 opened #103 "Bugs in website"
Index page has ugly white strip above footer separator.
Empty gallery is being shown.

[2017-07-18 17:03] Monal5031 opened #104 "Tags are mandatory in announcement and news app"
While adding announcement or news we cannot leave the tags field empty. Is this a bug or it is intended to have a tag for each thing.
cc: @yashLadha

[2017-07-19 05:51] yashLadha commented on #104
May be we can set a default tag, or make this field non-empty

On 18 Jul 2017 10:33 pm, "Monal Shadi" <notifications@github.com> wrote:

[2017-07-19 06:21] yashLadha commented on #104
Actually currently i am busy with some other project. So can you send PR for the same. @Monal5031

[2017-07-19 09:38] Monal5031 commented on #104
Sure, just needed views if it was a bug or not.

[2017-07-19 14:58] #103 closed

[2017-07-28 21:05] aashutoshrathi opened #107 "Change Title of Careers Page"
Change it from `Careers @ IIIT Vadodara` to `Careers`

[2017-07-28 21:08] aashutoshrathi opened #108 "Fix B.Tech Page in Admissions"
That page doesn't work if we don't upload a `fee-structure.jpg`, We need to set a default image which show up when no image is uploaded.

[2017-07-28 21:13] aashutoshrathi opened #109 "Gallery Improvements"
* Thumbnails size needs to be increased.
* `gallery-thumbnail`'s margin needs to be improved.

[2017-07-29 12:04] #104 closed

[2017-07-29 17:53] Monal5031 opened #111 "Create app for Tenders"
Create an app for tenders
It should display a table-list view of linked pdfs at `/tenders`.

[2017-07-29 19:00] aashutoshrathi opened #112 "Add Page and Fix Footer Link for Admissions"
Footer link for Admissions should redirect to a page like : http://iiitvadodara.ac.in/admissions.php

[2017-07-31 12:14] aashutoshrathi opened #113 "Fix Alignment of RTI.jpg"
This alignment looks better than [original one](http://iiitvadodara.ac.in/rti.php).

![err-align](https://user-images.githubusercontent.com/21199234/28777141-6e4e8c28-75e9-11e7-8d55-0a8f14157d54.png)

[2017-08-02 19:54] aashutoshrathi opened #114 "Fix Inconsistent Header Styles"
Some pages have heading as `<h1>`, while some have `<h2>`, I think we should go with `<h2>` for all.

[2017-08-05 06:51] aashutoshrathi opened #115 "Fix Page Title for People and Announcement Apps"

[2017-08-05 09:29] Prakash2403 opened #117 "Travis CI failure"
`django.db.utils.ProgrammingError: relation "photologue_photo" does not exist`. Please fix it.

[2017-08-05 15:23] Monal5031 commented on #117
Clearing the current migration files and migrating the database again fixed the error in my case. Can you please try this once @Prakash2403 sir in your side.
If it solves the problem, we can do that.

[2017-08-06 07:12] aashutoshrathi opened #118 "Error with {{ status }} returns"
For staff page `{{ staff }}` is returning `staff` instead of `Staff`. Check [here](http://13.126.164.61:8000/people/staff/)

[2017-08-06 07:14] aashutoshrathi commented on #117
@Prakash2403 Sir, same happened on my machine, deleting migration folder and then setting up migrations again, fixed it, How can we do the same with Travis ?

[2017-08-06 09:24] Prakash2403 commented on #117
I will check that.

[2017-08-06 12:49] Monal5031 commented on #117
@aashutoshrathi We can delete the existing migrations files in repo.

[2017-08-08 04:16] #81 closed

[2017-08-08 04:16] #107 closed

[2017-08-08 04:16] #113 closed

[2017-08-08 04:18] #118 closed

[2017-08-17 18:54] mohitkyadav opened #120 "Remove hover animation of event items."
This issue is about removing the hover animation of event items on index page.
Can I proceed?
This is how it will look like.

![screenshot 27](https://user-images.githubusercontent.com/25580776/29428703-c0e9e066-83ab-11e7-8d8c-3def23d90da8.png)

[2017-08-19 08:01] #111 closed

[2017-08-19 08:01] #115 closed

[2017-08-19 08:13] Monal5031 commented on #120
Yes it would look good that way. @mohitkyadav

[2017-08-22 11:22] Monal5031 commented on #114
@aashutoshrathi Please make the required changes.

[2017-08-22 11:23] Monal5031 commented on #109
@aashutoshrathi Please make the adjustments which would look good.

[2017-08-22 11:26] Monal5031 opened #122 "Create new footer"
Should we change the footer as it is changed in the live website or keep it as it is.
cc: @singhpratyush @Prakash2403 @yashLadha @geekyJock8 @aashutoshrathi @mohitkyadav

[2017-08-29 09:32] aashutoshrathi commented on #117
@Monal5031 @Prakash2403 Anyone trying on this ?

[2017-08-29 11:23] #114 closed

[2017-08-29 13:38] Monal5031 commented on #117
We will have to do it after the front-end bug fixes, but before testing. @aashutoshrathi
Also I have the solution for it, so it won't be a problem.

[2017-08-29 13:50] #120 closed

[2018-03-24 11:11] Monal5031 opened #125 "Add pep8 checks"
Add pep8 checks in the repo.

[2018-03-24 12:26] #125 closed

[2018-05-08 16:47] Monal5031 opened #127 "Single header"
merge header and navbar

[2018-05-08 17:48] #127 closed

[2018-05-10 09:38] mohitkyadav opened #129 "link people and committee"
N:M relation b/w people model and committee model with a status choice of committee name.

[2018-05-10 09:40] mohitkyadav opened #130 "Custom auth"
create login using 1:1 relation b/w people and a new model for login.

[2018-05-10 09:42] mohitkyadav opened #131 "Create dashboard"
dashboard for a user to make changes to their profile in the people app.

[2018-05-10 09:43] mohitkyadav opened #132 "create course app"
dynamic course model and views.
programme -> branch -> semester -> course -> view details of course

[2018-05-12 13:34] #130 closed

[2018-05-12 13:42] mohitkyadav opened #134 "create new linkage template"
linkages shouldn't be inside a dropdown not able to use it in mobile.

[2018-05-12 13:46] mohitkyadav opened #135 "modify committee"
fix dropdown issue
connect committee model to people model.
common committee page with cards of each redirecting to individual

[2018-05-22 22:25] Monal5031 commented on #13
Carousel needs additional improvements like
only 1 picture should be displayed at a time something to make this work.

[2018-06-03 00:03] #131 closed

[2018-06-03 00:03] #108 closed

[2018-06-03 00:03] #52 closed

[2018-06-03 00:03] #112 closed

[2018-06-03 00:04] #13 closed

[2018-06-03 00:04] #122 closed

[2018-06-03 00:04] #62 closed

[2019-10-26 18:27] yashshah2820 opened #141 "add .gitignore"

[2019-10-26 18:28] yashshah2820 opened #142 "update requirements.txt with latest versions of packages"

[2019-10-27 14:19] AmanRaj1608 opened #143 "Add a .editorconfig file."
### Add a ```.editorconfig``` file.

**Reference :** https://editorconfig.org

[2019-10-27 14:31] AmanRaj1608 opened #144 "Create CONTRIBUTING.md file"
### Add `CONTRIBUTING.md` file.

You can refer to our another repository https://github.com/iiitv/algos/blob/master/CONTRIBUTING.md

You can learn more about  `CONTRIBUTING.md`    **[Here](https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors)**

[2020-06-17 15:26] yashshah2820 opened #151 "update the Django version"

[2020-06-21 17:08] yashshah2820 opened #152 "add python decouple for handling environment variables"

[2020-07-01 17:23] yashshah2820 opened #153 "enhance the Travis CI"

[2020-09-04 11:32] nlok5923 commented on #143
@iiitv/project-maintainers i would like to work on it.

[2020-09-05 05:47] nlok5923 commented on #142
@iiitv/project-maintainers i would like to work on this issue.

[2020-09-05 06:11] aashutoshrathi commented on #153
Can we make an issue to fix Travis Script first?
with the label `urgent`.
There is an obvious error in script, feel free to mention me if help is needed.

[2020-09-05 09:23] nlok5923 commented on #142
@mohitkyadav please can you tell me how can i do this as i hadn't worked with django.

[2020-09-06 03:32] nlok5923 commented on #151
@iiitv/project-maintainers  i would like to work on this issue.

[2020-09-22 15:44] #143 closed

[2020-09-23 10:03] yashshah2820 opened #156 "fix the travis CI"